<div [@routerTransition]>
    <app-page-header [heading]="'Detalle de calificación'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group input-group">
                <span class="input-group-addon">Conductor</span>
                <p class="form-control"><span class='disables'> {{selectedEntity.conductor}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Número de móvil</span>
                <p class="form-control"><span class='disables'> {{selectedEntity.nromovil}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Dominio</span>
                <p class="form-control"><span class='disables'> {{selectedEntity.dominio}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Responsable</span>
                <p class="form-control"><span class='disables'> {{selectedEntity.responsable}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Teléfono</span>
                <p class="form-control"><span class='disables'> {{selectedEntity.telefono}}</span></p>
            </div>
            <div>
                <img class="img-thumbnail" [src]="selectedEntity.imagen" (error)="updateUrl()" alt="Imagen no disponible" height="180" width="180">
            </div>
            <div class="row">
                <div class="col-xl-6 text-xs-center">
                        <div class="card card-default">
                            <div class="card-header">
                                <span class="input-group-addon">Móvil</span>
                            </div>
                            <div class="card-block">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i></span>
                                    <p class="form-control"><span class='disables'> {{selectedEntity.movil1}}</span></p>
                                </div>           
                                <div class="form-group input-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                    <p class="form-control"><span class='disables'> {{selectedEntity.movil2}}</span></p>
                                </div>           
                                <div class="form-group input-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                    <p class="form-control"><span class='disables'> {{selectedEntity.movil3}}</span></p>
                                </div>           
                                <div class="form-group input-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                    <p class="form-control"><span class='disables'> {{selectedEntity.movil4}}</span></p>
                                </div>           
                                <div class="form-group input-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                    <p class="form-control"><span class='disables'> {{selectedEntity.movil5}}</span></p>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 text-xs-center">
                    <div class="card card-default">
                        <div class="card-header">
                            <span class="input-group-addon">Conductor</span>
                        </div>
                        <div class="card-block">
                            <div class="form-group input-group">
                                <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i></span>
                                <p class="form-control"><span class='disables'> {{selectedEntity.conductor1}}</span></p>
                            </div>           
                            <div class="form-group input-group">
                                <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                <p class="form-control"><span class='disables'> {{selectedEntity.conductor2}}</span></p>
                            </div>           
                            <div class="form-group input-group">
                                <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                <p class="form-control"><span class='disables'> {{selectedEntity.conductor3}}</span></p>
                            </div>           
                            <div class="form-group input-group">
                                <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                <p class="form-control"><span class='disables'> {{selectedEntity.conductor4}}</span></p>
                            </div>           
                            <div class="form-group input-group">
                                <span class="input-group-addon">&nbsp;<i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i><i class="fa fa-fw fa-star"></i></span>
                                <p class="form-control"><span class='disables'> {{selectedEntity.conductor5}}</span></p>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Volver</button>
        </form>
    </div>
</div>
