<form role="form" #mainForm="ngForm">
	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			
            <div class="form-group input-group">
                <span class="input-group-addon">Código de premio</span>
                <p class="form-control"><span> {{ selectedPremio.idpremio }}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Premio</span>
                <p class="form-control"><span> {{selectedPremio.premio}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha del premio</span>
                <p class="form-control"><span> {{selectedPremio.fecpremio | date: 'dd/MM/yyyy'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha de vencimiento</span>
                <p class="form-control"><span> {{selectedPremio.fecven | date: 'dd/MM/yyyy'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha de canjeo</span>
                <p class="form-control"><span> {{(selectedPremio.feccanjeocond !== '0000-00-00') ? (selectedPremio.feccanjeocond | date: 'dd/MM/yyyy') : ('NO CANJEADO')}}</span></p>
            </div>
		</div>
	</div>
	<!-- <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="eliminar()">Eliminar</button> -->
</form>
