<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Producto</span>
                    <input name="producto" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedItem.producto" #producto="ngModel">
                </div>
                <div *ngIf="producto.invalid && (producto.dirty || producto.touched)" class="alert alert-danger">
                    <div *ngIf="producto.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input name="descripcion" class="form-control" required minlength="4" maxlength="256" [(ngModel)]="selectedItem.descripcion"
                        #descripcion="ngModel">
                </div>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                    <div *ngIf="descripcion.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <fieldset class="form-group">
                <a (click)="file.click()">
                    <img class="img-thumbnail"
                        [src]="selectedItem.imagen != null ? selectedItem.imagen : 'https://placehold.it/400x400'"
                        alt="Imagen no disponible" height="180" width="180">
                </a>
                <br>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.bmp"
                    #file>
            </fieldset>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary"
        (click)="onSubmit(); mainForm.reset()">Guardar</button>
    <button type="button" [disabled]="isNew() && mainForm.invalid" class="btn btn-primary"
        (click)="eliminar()">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>