<div [@routerTransition]>
    <app-page-header [heading]="'Tarifario Actual'" [icon]="'fa-edit'"></app-page-header> 
    <div class="row">
        <div class="col">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tarifas</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-tarifas></app-tarifas>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tarifas Fijas</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-fijas></app-fijas>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tiempo de espera</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-espera></app-espera>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
