<p> </p>
<div class="row">
	<div class="col">
		<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
			
			<div class="form-group input-group">
				<span class="input-group-addon">Id del evento</span>
				<p class="form-control">{{selectedEntity.id}}</p>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Usuario responsable del evento</span>
				<p class="form-control">{{selectedEntity.usuario}}</p>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Estado del reclamo</span>
				<select name="idestadoreclamo" class="form-control" 
					required
					[(ngModel)]="selectedEntity.idestadoreclamo" 
					#idestadoreclamo="ngModel">
					<option *ngFor="let instance of dataReclamoEstado" [value]="instance.id" [selected]="instance.id === selectedEntity.idestadoreclamo">{{instance.estado}}</option>
				</select>
				<div *ngIf="idestadoreclamo.errors && idestadoreclamo.touched" class="alert alert-danger">
					<div *ngIf="idestadoreclamo.errors.required">Debe seleccionar un estado.</div>
				</div>
			</div>
			<fieldset class="form-group">
				<label>Observaciones</label>
				<textarea class="form-control" 
					required
					rows="3" maxlength="512" 
					[(ngModel)]="selectedEntity.descripcion" 
					name="selectedEntity.descripcion"></textarea>
			</fieldset>
			<div class="form-group input-group">
				<span class="input-group-addon">Fecha y hora</span>
				<p class="form-control">{{selectedEntity.fechayhora}}</p>
			</div>
			<button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSubmit(); mainForm.reset()">Guardar</button>
			<button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
			<button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
		</form>
	</div>
</div>
