<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    <input name="id" class="form-control" [(ngModel)]="selectedItem.id" #id="ngModel" disabled>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Sucursal</span>
                    <input name="sucursal" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedItem.sucursal" #sucursal="ngModel">
                </div>
                <div *ngIf="sucursal.invalid && (sucursal.dirty || sucursal.touched)" class="alert alert-danger">
                    <div *ngIf="sucursal.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Dirección</span>
                    <input name="direccion" class="form-control" required minlength="4" maxlength="256" [(ngModel)]="selectedItem.direccion"
                        #direccion="ngModel">
                </div>
                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                    <div *ngIf="direccion.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input name="descripcion" class="form-control" required minlength="4" maxlength="256" [(ngModel)]="selectedItem.descripcion"
                        #descripcion="ngModel">
                </div>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                    <div *ngIf="descripcion.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div *ngIf="!isNew()" class="input-group">
                <span class="input-group-addon">Calificación promedio del local</span>
                <div class="star-component">
                    <span>
                    <i [ngClass]="(selectedItem.estrellaslocal>0)?'fa fa-star checked':'fa fa-star'"></i>
                    <i [ngClass]="(selectedItem.estrellaslocal>1)?'fa fa-star checked':'fa fa-star'"></i>
                    <i [ngClass]="(selectedItem.estrellaslocal>2)?'fa fa-star checked':'fa fa-star'"></i>
                    <i [ngClass]="(selectedItem.estrellaslocal>3)?'fa fa-star checked':'fa fa-star'"></i>
                    <i [ngClass]="(selectedItem.estrellaslocal>4)?'fa fa-star checked':'fa fa-star'"></i>
                    </span>
                </div>
            </div>
            <div class="div-fixed"></div>
            <div *ngIf="!isNew()" class="input-group">
                <span class="input-group-addon">Calificación promedio de la atención</span>
                <div class="star-component">
                    <span [ngClass]="(selectedItem.estrellasatencion>0)?'fa fa-star checked':'fa fa-star'"></span>
                    <span [ngClass]="(selectedItem.estrellasatencion>1)?'fa fa-star checked':'fa fa-star'"></span>
                    <span [ngClass]="(selectedItem.estrellasatencion>2)?'fa fa-star checked':'fa fa-star'"></span>
                    <span [ngClass]="(selectedItem.estrellasatencion>3)?'fa fa-star checked':'fa fa-star'"></span>
                    <span [ngClass]="(selectedItem.estrellasatencion>4)?'fa fa-star checked':'fa fa-star'"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary"
        (click)="onSubmit(); mainForm.reset()">Guardar</button>
    <button type="button" [disabled]="isNew() && mainForm.invalid" class="btn btn-primary"
        (click)="eliminar()">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>