.star-component {
    padding: 6px 0;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid lightgrey;
    display: inline-block;
    overflow: auto;
}
.checked {
  color: orange;
}

.div-fixed {
  margin-bottom: 10px;
}