<div [@routerTransition]>
    <app-page-header [heading]="'Reclamos'" [icon]="'fa-edit'"></app-page-header>

<div class="form-group input-group">
  <span class="input-group-addon">Estado</span>
  <select name="idestado" class="form-control" [(ngModel)]="selectedEstado" #idestado="ngModel">
      <option *ngFor="let instance of dataEstados" [value]="instance.id" [selected]="instance.id === selectedEstado">{{instance.estado}}</option>
  </select>
  <button type="button" class="btn btn-primary" (click)="filterByEstado()">Filtrar</button>
</div>

<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="Filtrar todas las columnas"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>
