  
  <br />
  <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
  </div>
  <!-- <app-item [selectedPremio]="selectedPremio" (itemUpdated)="handleItemUpdated($event)"></app-item> -->
  <hr>
  <div class="form-group input-group">
    <span class="input-group-addon">Estado</span>
    <select name="idestado" class="form-control" [(ngModel)]="selectedEstado" #idestado="ngModel">
        <option *ngFor="let instance of dataEstados" [value]="instance.id" [selected]="instance.id === selectedEstado">{{instance.estado}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="filterByEstado()">Filtrar</button>
  </div>
  <div class="form-group input-group">
  <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
  <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
    <span class="fa fa-search" aria-hidden="true"></span>
  </button>
  <br>
  </div>
  <div class="container-fluid">
    <ng2-smart-table 
      [settings]="settings" 
      [source]="source" 
      (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>