<form role="form" #mainForm="ngForm">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <!--Datos del Usuario-->
            <div class="card">
                <div class="card-header card-default">
                    Cuenta
                </div>
                <div class="card-block">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Nombre:</span>
                        <p class="form-control"><span class='disables'>{{selectedCuenta.nombre}}</span></p>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Celular:</span>
                        <p class="form-control"><span class='disables'>{{selectedCuenta.celular}}</span></p>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Email:</span>
                        <p class="form-control"><span class='disables'>{{selectedCuenta.email}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <!--Datos del Premio-->
            <div class="card">
                <div class="card-header card-default">
                    Premio                            
                </div>
                <div class="card-block">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Código:</span>
                        <p class="form-control"><span class='disables'>{{selectedPremio.codigo}}</span></p>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Descripción:</span>
                        <p class="form-control"><span class='disables'>{{selectedPremio.descripcion}}</span></p>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Fecha de vencimiento:</span>
                        <p class="form-control"><span class='disables'>{{selectedPremio.fecven}}</span></p>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="verPremio()">Ver Premio</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!--Datos del Sponsor-->
        <div class="col">
            <div class="card">
                <div class="card-header card-default" >
                    Sponsor
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon">Razón social:</span>
                                <p class="form-control"><span class='disables'>{{selectedSponsor.razonsocial}}</span></p>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">Direcciones:</span>
                                <p class="form-control"><span class='disables'>{{selectedSponsor.direcciones}}</span></p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <div class="form-group input-group">
                                <span class="input-group-addon">Email:</span>
                                <p class="form-control"><span class='disables'>{{selectedSponsor.email}}</span></p>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">Celular:</span>
                                <p class="form-control"><span class='disables'>{{selectedSponsor.telefono}}</span></p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="verSponsor()">Ver Sponsor</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="col-sm-4" *ngFor="let contacto of dataContactos">
            <div class="card card-info card-inverse" >
                <div class="card-header card-info">
                    Contacto
                    <div class="card-block bg-white">
                        <b>Apellido y nombre:</b> {{contacto.apellidos}}, {{contacto.nombres}}<br>
                        <b>Teléfono:</b> {{contacto.telefono}}<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>