<div [@routerTransition]>
    <app-page-header [heading]="'Premio'" [icon]="'fa-edit'"></app-page-header>
    <form role="form" #mainForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">ID</span>
                    <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                    <ng-template #nuevo>Nuevo</ng-template>
                    <ng-template #existente>{{selectedEntity.id}}</ng-template>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Sponsor</span>
                    <select name="idsponsor" class="form-control" [(ngModel)]="selectedEntity.idsponsor" #idsponsor="ngModel">
                        <option *ngFor="let instance of dataSponsors" [value]="instance.id" [selected]="instance.id === selectedEntity.idsponsor">{{instance.razonsocial}}</option>
                    </select>
                    <div *ngIf="idsponsor.errors && idsponsor.touched" class="alert alert-danger">
                        <div *ngIf="idsponsor.errors.required">Debe seleccionar un Sponsor.</div>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Descripción</span>
                        <input name="descripcion" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.descripcion" #descripcion="ngModel">
                    </div>
                    <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                        <div *ngIf="descripcion.errors.required">
                            Descripción obligatoria.
                        </div>
                        <div *ngIf="descripcion.errors.minlength">
                            La longitud mínima es de 4 caracteres.
                        </div>
                    </div>
                </fieldset> 
                <fieldset class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Dirección de canjeo</span>
                        <input name="direccion" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.direccion" #direccion="ngModel">
                    </div>
                    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                        <div *ngIf="direccion.errors.required">
                            Dirección obligatoria.
                        </div>
                        <div *ngIf="direccion.errors.minlength">
                            La longitud mínima es de 4 caracteres.
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Código de canjeo</span>
                        <input name="codigo" class="form-control" required minlength="4" maxlength="8" [(ngModel)]="selectedEntity.codigo" #codigo="ngModel">
                    </div>
                    <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" class="alert alert-danger">
                        <div *ngIf="codigo.errors.required">
                            Código de canjeo obligatorio.
                        </div>
                        <div *ngIf="codigo.errors.minlength">
                            La longitud mínima es de 4 caracteres.
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha inicio</span>
                    <input name="fecinicio" class="form-control" placeholder="dd-mm-aaaa" [(ngModel)]="fecInicio" ngbDatepicker #fecinicio="ngbDatepicker">
                    <div class="input-group-addon" (click)="fecinicio.toggle()">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha fin</span>
                    <input name="fecfin" class="form-control" placeholder="dd-mm-aaaa" [(ngModel)]="fecFin" ngbDatepicker #fecfin="ngbDatepicker">
                    <div class="input-group-addon" (click)="fecfin.toggle()">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha vencimiento</span>
                    <input name="fecven" class="form-control" placeholder="dd-mm-aaaa" [(ngModel)]="fecVen" ngbDatepicker #fecven="ngbDatepicker">
                    <div class="input-group-addon" (click)="fecven.toggle()">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div> 
                <div class="form-group input-group">
                    <span class="input-group-addon">Paquete</span>
                    <select name="idpaquete" class="form-control" required [(ngModel)]="selectedEntity.idpaquete" #idpaquete="ngModel">
                        <option *ngFor="let instance of dataPaquetes" [value]="instance.id" [selected]="instance.id === selectedEntity.idpaquete">{{instance.paquete}}</option>
                    </select>
                    <div *ngIf="idpaquete.errors && idpaquete.touched" class="alert alert-danger">
                        <div *ngIf="idpaquete.errors.required">Debe seleccionar un Paquete.</div>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Clasificación</span>
                    <select name="idclasificacion" class="form-control"  required  [(ngModel)]="selectedEntity.idclasificacion" #idclasificacion="ngModel">
                        <option *ngFor="let instance of dataClasificaciones" [value]="instance.id" [selected]="instance.id === selectedEntity.idclasificacion">{{instance.clasificacion}} - {{instance.probabilidad}}</option>
                    </select>
                    <div *ngIf="idclasificacion.errors && idclasificacion.touched" class="alert alert-danger">
                        <div *ngIf="idclasificacion.errors.required">Debe seleccionar una Clasificación.</div>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
                <a (click)="file.click()">
                    <img class="img-thumbnail" [src]="selectedEntity.imagen != null ? selectedEntity.imagen : 'https://placehold.it/400x400'" alt="Imagen no disponible" height="180" width="180">
                </a>
                <br>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.bmp" #file>
        </fieldset> 
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave(content)">Guardar</button>                 
        <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar(content)">Eliminar</button>
    </form>
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</div>
