<div [@routerTransition]>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">Conductor</span>
                <p class="form-control"><span> {{selectedEntity.conductor}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Móvil</span>
                <p class="form-control"><span> {{selectedEntity.nromovil}}</span></p>
            </div>
        </form>
        <div class="card-block">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
