<app-contacto [selectedItem]="selectedItem" (itemUpdated)="handleItemUpdated($event)"></app-contacto>
<hr>
<div class="row">
  <div class="col-xl-12">
      <div class="form-group input-group">
        <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
        <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <br>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>
</div>