<div [@routerTransition]>
    <app-page-header [heading]="'Reclamo'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <hr>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Datos del Reclamo</b></ng-template>
            <ng-template ngbTabContent>
                <app-reclamodata></app-reclamodata>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Eventos</b></ng-template>
            <ng-template ngbTabContent>
            <app-eventos></app-eventos>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
