<div [@routerTransition]>
  <app-page-header [heading]="'Calificaciones'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
      <div class=".col-xl-2">
        <div class="form-group input-group">
          <span class="input-group-addon">Fecha inicio</span>
          <input name="fecinicio" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecInicio" ngbDatepicker #fecinicio="ngbDatepicker">
          <div class="input-group-addon" (click)="fecinicio.toggle()">
              <span class="fa fa-calendar"></span>
          </div>
        </div>
    </div>
    <div class=".col-xl-2">
      <div class="form-group input-group">
        <span class="input-group-addon">Fecha de fin</span>
        <input name="fecfin" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecFin" ngbDatepicker #fecfin="ngbDatepicker">
        <div class="input-group-addon" (click)="fecfin.toggle()">
            <span class="fa fa-calendar"></span>
        </div>
      </div>
    </div>
  </div>
  <div class=".col-xl-2">
    <div class="form-group input-group">
      <span class="input-group-addon">Estrellas</span>
      <select name="estrellas" class="form-control" required [(ngModel)]="estrellasFilt" #estrellas="ngModel">
        <option [value]=-1 [selected]="estrellasFilt == -1">Todas</option>
        <option [value]=1 [selected]="estrellasFilt == 1">1 estrella</option>
        <option [value]=2 [selected]="estrellasFilt == 2">2 estrellas</option>
        <option [value]=3 [selected]="estrellasFilt == 3">3 estrellas</option>
        <option [value]=4 [selected]="estrellasFilt == 4">4 estrellas</option>
        <option [value]=5 [selected]="estrellasFilt == 5">5 estrellas</option>
      </select>
      <div *ngIf="estrellas.errors && estrellas.touched" class="alert alert-danger">
          <div *ngIf="estrellas.errors.required">Debe seleccionar estrellas</div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="filtrar()">Buscar</button>
  <p></p>
  <div class="row">
    <div class="col-md-4">
      <input *ngIf="config.filtering" placeholder="Filtrar todas las columnas"
            [ngTableFiltering]="config.filtering"
            class="form-control"
            (tableChanged)="onChangeTable(config)"/>
    </div>
  </div>
  <br>
  <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
  <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>
  <pre *ngIf="config.paging" class="card card-block card-header">Página: {{page}} / {{numPages}}</pre>
</div>
