<div [@routerTransition]>
    <app-page-header [heading]="'Premio por sponsor'" [icon]="'fa-edit'"></app-page-header>
    <h4>{{selectedPremio.sponsor}}</h4>
    <h5>{{selectedPremio.codigo}} - {{selectedPremio.descripcion}}</h5>
    <button type="button" class="btn btn-primary" (click)="export()">Exportar</button>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group input-group">
            <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
            <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ng2-smart-table class="table-responsive" 
            [settings]="settings" 
            [source]="source"></ng2-smart-table>
    </div>
</div>