<div [@routerTransition]>
    <app-page-header [heading]="'Tarifario Plantilla'" [icon]="'fa-edit'"></app-page-header> 
    <div class="row">
        <div class="col">
                <button type="button" class="btn btn-primary" (click)="aplicar(content)">Aplicar Tarifas</button>
                <hr>
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tarifas</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-tarifas></app-tarifas>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tarifas Fijas</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-fijas></app-fijas>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Tiempo de espera</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-espera></app-espera>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</div>
