<div [@routerTransition]>
  <app-page-header [heading]="'Informe'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
      <div class="col-xl-3">
        <div class="form-group input-group">
          <span class="input-group-addon">Fecha inicio</span>
          <input name="fecinicio" class="form-control" placeholder="dd-mm-aaaa" [(ngModel)]="fecInicio" ngbDatepicker #fecinicio="ngbDatepicker">
          <div class="input-group-addon" (click)="fecinicio.toggle()">
              <span class="fa fa-calendar"></span>
          </div>
        </div>
    </div>
    <div class="col-xl-3">
      <div class="form-group input-group">
        <span class="input-group-addon">Fecha de fin</span>
        <input name="fecfin" class="form-control" placeholder="dd-mm-aaaa" [(ngModel)]="fecFin" ngbDatepicker #fecfin="ngbDatepicker">
        <div class="input-group-addon" (click)="fecfin.toggle()">
            <span class="fa fa-calendar"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="form-group input-group">
        <span class="input-group-addon">Sponsors</span>
        <select name="sponsors" class="form-control" required [(ngModel)]="sponsorsFilt" #sponsors="ngModel">
            <option *ngFor="let instance of dataSponsors" [value]="instance.id">{{instance.razonsocial}}</option>
        </select>
        <div *ngIf="sponsors.errors && sponsors.touched" class="alert alert-danger">
            <div *ngIf="sponsors.errors.required">Debe seleccionar sponsors</div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="filtrar()">Buscar</button>
  <button type="button" class="btn btn-primary" (click)="export()">Exportar</button>
  <p></p>
  <div class="container-fluid">
      <ng2-smart-table class="table-responsive" 
          [settings]="settings" 
          [source]="source" 
          (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>
</div>
