<div [@routerTransition]>
        <br>
        <form role="form" #mainForm="ngForm">
            <div class="row">
                <div class="col-sm-6 col-sm-push-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Fecha</span>
                        <p class="form-control"><span> {{selectedEntity.fecha}}</span></p>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Destino</span>
                        <p class="form-control"><span> {{selectedEntity.destino}}</span></p>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-push-6">
                    <div class="form-group input-group" 
                        [ngClass]="{'has-danger': precio.errors && precio.touched}">
                        <span class="input-group-addon">Precio</span>
                        <input name="precio" class="form-control"  
                            required
                            [(ngModel)]="selectedEntity.precio"
                            [ngbTooltip]="(precio.errors && (precio.dirty || precio.touched)) ? 'Debe ingresar número en pesos.' : ''"
                            #precio="ngModel">
                    </div>
                </div>
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave(content)">Guardar</button>
            </div>
        </form>
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
    </div>
    