<div [@routerTransition]>
    <app-page-header [heading]="'Publicidad'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input name="publicidad" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.publicidad" #publicidad="ngModel">
                </div>
                <div *ngIf="publicidad.invalid && (publicidad.dirty || publicidad.touched)" class="alert alert-danger">
                    <div *ngIf="publicidad.errors.required">
                        Descripción obligatoria.
                    </div>
                    <div *ngIf="publicidad.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                    <a (click)="file.click()">
                        <img class="img-thumbnail" [src]="selectedEntity.url != null ? selectedEntity.url : 'https://placehold.it/430x120'" alt="Imagen no disponible" height="180" width="180">
                    </a>
                    <br>
                    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.bmp" #file>
            </fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha inicio</span>
                <input name="fecinicio" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecInicio" ngbDatepicker #fecinicio="ngbDatepicker">
                <div class="input-group-addon" (click)="fecinicio.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha fin</span>
                <input name="fecfin" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fecFin" ngbDatepicker #fecfin="ngbDatepicker">
                <div class="input-group-addon" (click)="fecfin.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
			<div class="form-group input-group">
                <span class="input-group-addon">Clasificación</span>
                <select name="idclasificacion" class="form-control"  required  [(ngModel)]="selectedEntity.idclasificacion" #idclasificacion="ngModel">
                    <option *ngFor="let instance of dataClasificaciones" [value]="instance.id" [selected]="instance.id === selectedEntity.idclasificacion">{{instance.clasificacion}} - {{instance.probabilidad}}</option>
                </select>
                <div *ngIf="idclasificacion.errors && idclasificacion.touched" class="alert alert-danger">
                    <div *ngIf="idclasificacion.errors.required">Debe seleccionar una Clasificación.</div>
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSubmit(content)">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar(content)">Eliminar</button>
        </form>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</div>
