<div [@routerTransition]>
    <br>
        <div class="row">
            <form role="form" #mainForm="ngForm">
                <div class="form-group input-group" 
                    [ngClass]="{'has-danger': costo.errors && costo.touched}">
                    <span class="input-group-addon">Costo</span>
                    <input name="costo" class="form-control"  
                        required
                        [(ngModel)]="selectedEntity.costo"
                        [ngbTooltip]="(costo.errors && (costo.dirty || costo.touched)) ? 'Debe ingresar número en pesos.' : ''"
                        #costo="ngModel">
                </div>
                <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave(content)">Guardar</button>
            </form>
            <div class="card-block">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>