<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Apellidos</span>
            <input name="apellidos" class="form-control" required minlength="4" maxlength="100"
                [(ngModel)]="selectedItem.apellidos" #apellidos="ngModel">
        </div>
        <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-danger">
            <div *ngIf="apellidos.errors.minlength">
                La longitud mínima es de 4 caracteres.
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Nombres</span>
            <input name="nombres" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedItem.nombres"
                #nombres="ngModel">
        </div>
        <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="alert alert-danger">
            <div *ngIf="nombres.errors.minlength">
                La longitud mínima es de 4 caracteres.
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Teléfono</span>
            <input name="telefono" class="form-control" minlength="4" maxlength="100" [(ngModel)]="selectedItem.telefono"
                #telefono="ngModel">
        </div>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
            <div *ngIf="telefono.errors.minlength">
                La longitud mínima es de 4 caracteres.
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input name="email" class="form-control" minlength="4" maxlength="100" [(ngModel)]="selectedItem.email"
                #email="ngModel">
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.minlength">
                La longitud mínima es de 4 caracteres.
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Cargo</span>
            <input name="cargo" class="form-control" minlength="4" maxlength="100" [(ngModel)]="selectedItem.cargo"
                #cargo="ngModel">
        </div>
        <div *ngIf="cargo.invalid && (cargo.dirty || cargo.touched)" class="alert alert-danger">
            <div *ngIf="cargo.errors.minlength">
                La longitud mínima es de 4 caracteres.
            </div>
        </div>
    </fieldset>
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary"
        (click)="onSubmit(); mainForm.reset()">Guardar</button>
    <button type="button" [disabled]="isNew() || mainForm.invalid" class="btn btn-primary"
        (click)="eliminar()">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>