<form role="form" #mainForm="ngForm">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Razón social</span>
                    <input name="razonsocial" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedEntity.razonsocial" #razonsocial="ngModel">
                </div>
                <div *ngIf="razonsocial.invalid && (razonsocial.dirty || razonsocial.touched)"
                    class="alert alert-danger">
                    <div *ngIf="razonsocial.errors.required">
                        Razón social obligatorio.
                    </div>
                    <div *ngIf="razonsocial.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input class="form-control" required minlength="4" maxlength="100" name="descripcion"
                        [(ngModel)]="selectedEntity.descripcion" #descripcion="ngModel">
                </div>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                    class="alert alert-danger">
                    <div *ngIf="descripcion.errors.required">
                        Razón social obligatorio.
                    </div>
                    <div *ngIf="descripcion.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Direcciones</span>
                    <input name="direcciones" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedEntity.direcciones" #direcciones="ngModel">
                </div>
                <div *ngIf="direcciones.invalid && (direcciones.dirty || direcciones.touched)"
                    class="alert alert-danger">
                    <div *ngIf="direcciones.errors.required">
                        Direcciones obligatorias.
                    </div>
                    <div *ngIf="direcciones.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Teléfonos</span>
                    <input name="telefono" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedEntity.telefono" #telefono="ngModel">
                </div>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                        Teléfonos obligatorios.
                    </div>
                    <div *ngIf="telefono.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input name="email" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedEntity.email" #email="ngModel">
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Correo electrónico obligatorio.
                    </div>
                    <div *ngIf="email.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">CUIT</span>
                    <input name="cuit" class="form-control" pattern="[0-9]+" required minlength="11" maxlength="11"
                        [(ngModel)]="selectedEntity.cuit" #cuit="ngModel">
                </div>
                <div *ngIf="cuit.invalid && (cuit.dirty || cuit.touched)" class="alert alert-danger">
                    <div *ngIf="cuit.errors.required">
                        Cuit obligatorio.
                    </div>
                    <div *ngIf="cuit.errors.minlength || cuit.errors.maxlength">
                        La longitud es de 11 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Código de Canjeo</span>
                    <input name="codigocanjeo" class="form-control" required minlength="4" maxlength="100"
                        [(ngModel)]="selectedEntity.codigocanjeo" #codigocanjeo="ngModel">
                </div>
                <div *ngIf="codigocanjeo.invalid && (codigocanjeo.dirty || codigocanjeo.touched)"
                    class="alert alert-danger">
                    <div *ngIf="codigocanjeo.errors.required">
                        Teléfonos obligatorios.
                    </div>
                    <div *ngIf="codigocanjeo.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <a (click)="file.click()">
                    <img class="img-thumbnail"
                        [src]="selectedEntity.imagen != null ? selectedEntity.imagen : 'https://placehold.it/400x400'"
                        alt="Imagen no disponible" height="180" width="180">
                </a>
                <br>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.bmp"
                    #file>
            </fieldset>
        </div>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="mainForm.invalid"
        (click)="guardar(content)">Guardar</button>
    <button type="button" class="btn btn-primary" [disabled]="isNew()" (click)="eliminar(content)">Eliminar</button>
</form>
<div class="card-block">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
</div>