<form role="form" #mainForm="ngForm">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h1>Tiempos de espera en cada módulo</h1>
            <h6>Los valores son en minutos</h6>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Móviles </span>
                    <input type="number" class="form-control" required
                        name="moviles" 
                        [(ngModel)]="selectedEntity.moviles" #moviles="ngModel">
                </div>
                <div *ngIf="moviles.invalid && (moviles.dirty || moviles.touched)"
                    class="alert alert-danger">
                    <div *ngIf="moviles.errors.required">
                        Tiempo de Móviles obligatorio.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Commerce </span>
                    <input type="number" class="form-control" required 
                        name="commerce"
                        [(ngModel)]="selectedEntity.commerce" #commerce="ngModel">
                </div>
                <div *ngIf="commerce.invalid && (commerce.dirty || commerce.touched)"
                    class="alert alert-danger">
                    <div *ngIf="commerce.errors.required">
                        Tiempo de Commerce obligatorio.
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Street</span>
                    <input type="number" class="form-control" required
                        name="street" 
                        [(ngModel)]="selectedEntity.street" #street="ngModel">
                </div>
                <div *ngIf="street.invalid && (street.dirty || street.touched)"
                    class="alert alert-danger">
                    <div *ngIf="street.errors.required">
                        Tiempo de Street obligatorias.
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="mainForm.invalid"
        (click)="guardar(content)">Guardar</button>
</form>
<div class="card-block">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
</div>